.horrordiv{
    /* border: 2px solid green; */
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 10px;
    margin-bottom: 60px; 
}