.horrogame{
   /* border: 2px solid green; */
    color: white;
    width: 290px;
    margin: 10px;
    display: flex;
    flex-direction: row;

}
.horrorlist{
    list-style: none;
    /* border: 2px solid red; */
}