@import url(https://fonts.googleapis.com/css?family=Play:regular,700);
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Play;
}
.App{
  width: 100vw;
  height: 100vh;
  display: flex;
  /* flex-direction: column; */
}
.top-div{
  display: flex;
}

/* ::-webkit-scrollbar {
  display: none;
} */

a{
  color: white;
  text-decoration: none;
}